
.super-mario{
    width: 200px;
    position: absolute;
    
}

.goomba{
    width: 200px;
    position: absolute;
    top: 370px;
}

.baloon{
    width: 150px;
    position: absolute;
    top: 390px;
    left: 205px;
    

}

.bowser{
    width: 200px;
    position: absolute;
    top: 370px;
    left: 350px;
}

.word{
    width: 150px;
    position: absolute;
    top: 395px;
    left: 240px;
    z-index: 1;

}