body {
    font-size: large;
    margin: 10px;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 25px;
}

img {
    max-width: 100%;
}

figure {
    margin: 20px;
}

@media screen and (min-width: 501px) and (max-width: 900px) {
    body {
        background-color: aqua;
        font-size: 18px;
        margin: 50px;
        text-align: justify;
    }
    div {
        display: flex;
        flex-wrap: wrap;   
        justify-content: center;
    }

    figure {
       max-width: 40%;
       
    }

    
}