h1 {font-size: 65px; color: orange;
    font-family: sans-serif;}
    

    body {font-size: 16px;
            font-style: oblique;
            line-height: 50px;
            background-color:salmon;}

    p {font-weight: 600; font-size: 3em; color:tomato}
  
    ul {line-height: 20px; text-decoration: underline;}

    #amarelo {background-color: yellow;}
    #vermelho{background-color: red;}
    #marrom{background-color: brown;}