body{
    background-color: #00b4d8;
    margin: 0;
    padding: 0;
}

header{
    background-color: #264653;
    color: #48cae4;
    padding: 1px;
    text-align: center;
}
nav{
    background-color: #03045e;
    line-height: 40px;
}
nav a{
    color: #48cae4;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    padding: 5px;
    background-color: #264653
}

article{
    background-color: #caf0f8;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #3d405b;    
}

section{
    display: block;
}

section article img{
    width: 5%;
    display: inline-block;
    text-align: right;

}

section article table{
    text-align: justify;
    display: inline-block;
    width: 20%;
}

section p{
    float: left;
    text-align: justify;
}